*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins', sans-serif;


}
.container{
width: 100%;
box-shadow: 2px 2px 50px rgb(218, 218, 218);
}

#header{
    width: 80%;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 0;
    
}
.logo-area{
    margin-left: 20px;
}
.logo-area a
    {
        text-decoration: none;
        font-size: 35px;
        font-weight: 900;
        color: black;
    }
.logo-area a span{
    color:orangered ;
    }
ul {
    list-style-type:none;
    padding:0;
    display:flex;
}
ul li a{
    text-decoration: none;
    font-size: 15px;
    color:orangered ;
    font-weight: 500;
    
    
}
ul li a:hover{
    color:red;
}
ul li span.contact{
    background-color: orangered;
    color: #fff;
    padding: 10px 14px;
    border-radius: 5px;
    border:1px solid orangered ;
    
}
ul li span.contact:hover{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    transition: .4s;
    }
ul li{
    list-style: none;
    margin: 15px 15px;
}
.bio-container{
    width: 80%;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 0;
}
.bio{
    display: flex;
}
.bio .bio-left{
    width: 50%;
    margin-top: 100px;
}
.bio .image {
    width: 50%;
}
.bio .image img {
    height: 100%;
    
}
.bio .bio-left h5 {
    font-weight: 700;
    font-size: 18px;
}
.bio .bio-left h2{
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
    
}
.bio .bio-left h2 span{
    color: orangered;
    text-transform: uppercase;
    font-style: italic;
}
.bio .bio-left p{
    text-align: justify;
    letter-spacing: 1px;
    margin-top: 20px;
    line-height: 25px;
}
.bio .bio-left .hire-me {
    text-decoration: none;
    background-color: orangered;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    border:1px solid orangered ;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
}
.bio .bio-left .hire-me:hover{
    border: 1px solid orangered;
    background-color: #fff;
    color: orangered;
    transition: .5s;

}
